@model hairrecipe.data.Entities.Products.ProductLine
@using hairrecipe.data.Helpers;

@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewData["GACAKeyword"] = Model.GACAKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customStyles
{
    <link href="~/Content/pc-css/product-line.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/product/@(Model.GroupKeyword)">	
    <link rel="alternate" media="handheld" href="http://hairrecipe.jp/sp/product/@(Model.GroupKeyword)">
}


<div id="@Model.GroupKeyword" class="view">    
    <h1 class="banner"><img class="group-banner" src="~/Content/images/pc/product/@Model.GroupKeyword/banner.jpg" alt="@Model.BannerAlt" /></h1>

    @if (!string.IsNullOrEmpty(Model.BannerText))
    {
        <h1 class="bannerTxt">@Model.BannerText</h1>
    }
    
    @for (int ctr = 0; ctr <= Model.ProductListMain.ToArray().Length - 1; ctr++)
    {
        @Html.Partial("_ProductBlock", Model.ProductListMain.ElementAt(ctr));
    }

    @if (Model.ProductListRefill != null && Model.ProductListRefill.Count > 0)
    {
        <div class="refill">
            <ul class="refill-ul">
                @for (int ctr = 0; ctr <= Model.ProductListRefill.ToArray().Length - 1; ctr++)
                {
                    @Html.Partial("_ProductRefillBlock", Model.ProductListRefill.ElementAt(ctr));
                }
            </ul>
        </div>
    }   
    @if (Model.CustomContent != null)
    {
        for (int ctr = 0; ctr <= Model.CustomContent.ToArray().Length - 1; ctr++)
        {
            @Html.Raw(Model.CustomContent.ElementAt(ctr).HtmlSection.LineBreak("[pc-br]").ToString().Replace("[sw]", "pc"));
        }
    }
    @if (Model.ComboSets != null)
    {
        for (int ctr = 0; ctr <= Model.ComboSets.ToArray().Length - 1; ctr++)
        {            
            @Html.Partial("_ProductSetBlock", Model.ComboSets.ElementAt(ctr));
        }
    }

     @{Html.RenderPartial("_FootBannerBlock", @Model.GACAKeyword);}

    <a href="#" id="back-to-top" title="Back to top"><img src="/Content/images/pc/back-to-top.png" /></a>
</div>