<footer>
    <div class="wrap">
        <section class="specialInfo">
            <span>SPECIAL INFO.</span>
            <img src="~/Content/images/pc/specialInfo.png" alt="" />
            <ul>
                <li class="first">    
                    <img src="~/Content/images/pc/footer-special-amazon.png" alt="" />
                    <div class="bin">
                        <a class="generic-btn shop to-shop-btn gaca-btn" eventlabel="external" gaca="@("[platform]_hairrepi_20161001_" + Model + "_amazon")" href="http://www.amazon.co.jp/b/?_encoding=UTF8&camp=247&creative=1211&linkCode=ur2&node=3257396051&tag=pgjp_angelica-22">To Shop</a>
                    </div>
                </li>
                <li>
                    <img src="~/Content/images/pc/footer-special-lohaco.png" alt="" />
                    <div class="bin">
                        <a class="generic-btn shop to-shop-btn  gaca-btn" eventlabel="external" gaca="@("[platform]_hairrepi_20161001_" + Model + "_lohaco")" href="http://lohaco.jp/event/hairrecipe/?sc_e=zb_pmkr_aas_bpg_chrc_dps">To Shop</a>
                    </div>
                </li>
            </ul>
        </section>
        <section class="sitemap">
            <ul>
                <li class="column first" >
                    <div>
                        <a class="site-logo"><img src="~/Content/images/pc/hr-logo.png" alt="hair recipe" /></a>
                    </div>
                    <ul>
                        <li><a href="javascript:void(0)" class="tw gaca-btn twitter-share" eventlabel="external" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_twitter")"><img src="~/Content/images/pc/tw.png" alt="" /></a></li>
                        <li><a href="javascript:void(0)" class="fb gaca-btn facebook-share" eventlabel="external" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_facebook")"><img src="~/Content/images/pc/fb.png" alt="" /></a></li>                            
                    </ul>
                </li>
                <li class="column">
                    <ul>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_home")" href="/index.html">HOME</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_prpduct")" href="/kodawari/index.html">PRODUCT STORIES</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_lif-with")" href="https://www.instagram.com/hairrecipe_official/" target="_blank">LIFE with HAIR RECIPE</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_news")" href="/info/index.html">NEWS</a></li>
                    </ul>
                </li>
                <li class="column">
                    <ul>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_cm")" href="/cm/index.html">CM & MOVIE</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_your-resipe")" href="/reco_recipe/index.html">YOUR RECIPE</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_diagnosis")" href="/diagnosis/index.html">JUICY HAIR CHECK</a></li>
                    </ul>
                </li>
                <li class="column last">
                    <ul>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_mint")" href="/product/mint.html">Mint Blend Cleansing Recipe</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_apri")" href="/product/apricot.html">Honey Apricot Enrich Moisture Recipe</a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_kiwi")" href="/product/kiwi.html">Kiwi Empower Volume Recipe </a></li>
                        <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_booster")" href="/product/booster.html">Booster Oil Treatment </a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="base">
            <span>&copy; 2016 P&G. ALL RIGHTS RESERVED.</span>
            <ul>                
                <li><a href="http://www.pg.com/ja_Clean/terms_conditions/index.shtml" target="_blank">利用規約</a></li>
                <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_about")" href="/about/index.html">サイトについて</a></li>
                <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_sitemap")" href="/sitemap/index.html">サイトマップ</a></li>
                <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_Q&A")" href="/faq/index.html">よくあるご質問</a></li>
                <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_privacy")" eventlabel="external" href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></li>
                <li><a class="gaca-btn" gaca="@("[platform]_hairrepi_20161001_" + Model + "_footer_customer")" href="/contact/index.html">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
</footer>