@model hairrecipe.data.Entities.Info.InfoList
@{
    bool uri = Request.Url.AbsoluteUri.Contains("info");

    string customGACA;

    if (uri)
    {
        customGACA = "pc_hairrepi_20161031_news_hawaii";
    }
    else
    {
        customGACA = "pc_hairrepi_20161031_top_hawaii_2";
    }
}
<div class="info-content col-xs-6 col-sm-3 @Model.CustomBinContainer">
    <a href="@Model.InfoLink" class="gaca-btn @Model.CustomBinBtnClass" binid="@Model.CustomBinIdentifier" gaca="@Model.GACA" ><img src="/Content/images/sp/info/@Model.InfoImage" alt="@Model.alt" /></a>    <span class="news-title">@Model.InfoTitle</span>
    <span class="news-date">@Model.InfoDate</span>
    <p>@Html.Raw(Model.InfoNews2)</p>
</div>