@{
    string checkController = @ViewContext.RouteData.Values["Controller"].ToString();
    string checkAction = @ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="fbTitle" property="og:title" content="@ViewBag.fbTitle" />
    <meta name="fbType" property="og:type" content="@ViewBag.fbType" />
    <meta name="fbUrl" property="og:url" content="@ViewBag.fbUrl" />
    <meta name="fbImage" property="og:image" content="@ViewBag.fbImage" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/global-css")
    @Styles.Render("~/Content/desktop-css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("customStyles"))
    {
        @RenderSection("customStyles", required: false)
    }
    @Styles.Render("~/Content/pc-css/bin.css")
</head>
<body>
    @{Html.RenderPartial("_navigation", "");}
    <div class="container-hairrecipe">
        
        @if (checkController == "Home" && checkAction == "Index")
        {
           
            @Html.Partial("_slider", "")
        }
        @RenderBody()
        
    </div>
    @{Html.RenderPartial("_FooterBlock", ViewData["GACAKeyword"]);}
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/share.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
