@{
    string checkController = @ViewContext.RouteData.Values["Controller"].ToString();
    string checkAction = @ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="fbTitle" property="og:title" content="@ViewBag.fbTitle" />
    <meta name="fbType" property="og:type" content="@ViewBag.fbType" />
    <meta name="fbUrl" property="og:url" content="@ViewBag.fbUrl" />
    <meta name="fbImage" property="og:image" content="@ViewBag.fbImage" />
    <link href="/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
    <meta name="google-site-verification" content="icNcUlO_J9uI5YdRrcDRyEXw4Z9XQFoppXTAVhr4RRU" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/global-css")
    @Styles.Render("~/Content/desktop-css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("customStyles"))
    {
        @RenderSection("customStyles", required: false)
    }
    @Styles.Render("~/Content/pc-css/bin.css")
    @if (checkController == "Product" && checkAction == "ProductLine")
    {    
        @Styles.Render("~/Content/pc-css/review.css")
    }
    <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?3DdNOn6UIFc%3D" charset="utf-8"></script>
    <script type="application/ld+json">
    {
      "@@context": "http://schema.org",
      "@@type": "Organization",
      "url": "http://hairrecipe.jp",
      "logo": "https://hairrecipe.jp/Content/images/pc/hr-logo.png"
    }
    </script>
    <script type="text/javascript">
        // Bazaarvoice global settings
        var bv_api_server = "@HttpContext.Current.Application["bv_api_server"]";
        var bv_api_key = "@HttpContext.Current.Application["bv_api_key"]";
    </script>
</head>
<body>
    <div class="container-hairrecipe">
        @{Html.RenderPartial("_navigationIpad", "");}
        @if (checkController == "Home" && checkAction == "Index")
        {
            @Html.Partial("_sliderIpad", "")
        }
        @RenderBody()

        @if (checkController == "Product" && checkAction == "ProductLine")
        {
            @Html.Partial("rnr/_Write", "");
            @Html.Partial("rnr/_Read", "");
        }
        
        @{Html.RenderPartial("_FooterBlock", ViewData["GACAKeyword"]);}
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @if (checkController == "Product" && checkAction == "ProductLine")
    {
        @Scripts.Render("~/Content/js/rnr/jquery.validate.js")
        @Scripts.Render("~/Content/js/rnr/underscore-min.js")
        @Scripts.Render("~/Content/js/rnr/reviews.js")
    }   
    <script src="~/Scripts/share.js"></script>
    @RenderSection("scripts", required: false)
    <script type="application/ld+json">
    { "@@context" : "http://schema.org",
      "@@type" : "Organization",
      "name" : "Hair Recipe",
      "url" : "http://hairrecipe.jp",
      "sameAs" : [ "https://twitter.com/HairRecipeJapan",
        "https://www.instagram.com/hairrecipe_official",
        "https://www.youtube.com/user/hairrecipe"]
    }
    </script>
    <!--front-end overrides-->
    <script src="~/Content/js/overrides-pc.js"></script>
</body>
</html>
