@{
    string checkController = @ViewContext.RouteData.Values["Controller"].ToString();
    string checkAction = @ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/global-css")
    @Styles.Render("~/Content/mobile-css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("customStyles"))
    {
        @RenderSection("customStyles", required: false)
    }
    <link rel="canonical" href="@ViewBag.Conanical" />
    <link rel="alternate" media="handheld" href="@ViewBag.Alternate" />
</head>
<body>
    @Html.Partial("_navigation.Mobile", "")

    @if (checkController == "sp" && checkAction == "Index")
    {
        <div class="container">
            <div class="row">
                @Html.Partial("_slider", "")
            </div>
        </div>
    }
    
    <div class="main">
        @RenderBody()
    </div>
    <div class="page-footer">
        <div class="container">
            <div class="row">
                @Html.Partial("_specialInfo", "")
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/carousel-swipe.js"></script>
    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: false,
                swipe: 30
            }); 
        });
    </script>
    <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?3DdNOn6UIFc%3D" charset="utf-8"></script>
</body>
</html>
