@{
    string checkController = @ViewContext.RouteData.Values["Controller"].ToString();
    string checkAction = @ViewContext.RouteData.Values["Action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="fbTitle" property="og:title" content="@ViewBag.fbTitle" />
    <meta name="fbType" property="og:type" content="@ViewBag.fbType" />
    <meta name="fbUrl" property="og:url" content="@ViewBag.fbUrl" />
    <meta name="fbImage" property="og:image" content="@ViewBag.fbImage" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/global-css")
    @Styles.Render("~/Content/mobile-css")
    @Scripts.Render("~/bundles/modernizr")
    @if (IsSectionDefined("customStyles"))
    {
        @RenderSection("customStyles", required: false)
    }
    @Styles.Render("~/Content/sp-css/bin.css")

    @if (checkController == "SpProduct" && checkAction == "ProductLine")
    {
        @Styles.Render("~/Content/sp-css/review.css")
    }
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "url": "http://hairrecipe.jp",
        "logo": "http://hairrecipe.jp/images/pc/common/logoMain.png"
        }
    </script>
    
</head>
<body>
    @Html.Partial("_navigation.Mobile", "")

    @if (checkController == "sp" && checkAction == "Index")
    {
        <div class="container">
            <div class="row">
                @Html.Partial("_slider", "")
            </div>
        </div>
    }
    
    <div class="main">
        @RenderBody()
    </div>

    @if (checkController == "SpProduct" && checkAction == "ProductLine")
    {
        @Html.Partial("rnr/_Write", "");
        @Html.Partial("rnr/_Read", "");
    }
    
    <div class="page-footer">
        <div class="container">
            <div class="row">
                @Html.Partial("_specialInfo", ViewData["GACAKeyword"])
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/js/main.js")
    @RenderSection("scripts", required: false)

    @if (checkController == "SpProduct" && checkAction == "ProductLine")
    {
        @Scripts.Render("~/Content/js/rnr/jquery.validate.js")
        @Scripts.Render("~/Content/js/rnr/underscore-min.js")
        @Scripts.Render("~/Content/js/rnr/reviews_sp.js")
    }
    <script src="~/Scripts/carousel-swipe.js"></script>
    <script src="~/Scripts/jquery.lazyload.js"></script>
    <script src="~/Scripts/share.js"></script>
    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: false,
                swipe: 30
            });

            $("img.lazy").lazyload({
                effect: "fadeIn",
                threshold: 200
            });

            $('img.imgplaceholder').click(function () {
                $(this).addClass('hide');
                $('#player').addClass('show');
                var video = $(this).attr('data-video');
                player.loadVideoById(video, 0, "default");
            });

        });
    </script>
    <script type="text/javascript" src="//typesquare.com/accessor/script/typesquare.js?3DdNOn6UIFc%3D" charset="utf-8"></script>
</body>
</html>
