@model hairrecipe.data.Entities.Products.Product 

<div id="@Model.Name" class="product-section @(Model.BackgroundClass)" >
    <img class="product-item" src="~/Content/images/sp/product/mint/@(Model.Name).png" alt="" />
    @if (!string.IsNullOrEmpty(Model.EnTitle))
    {
        <span class="en-title  full-length center">@Html.Raw(Model.EnTitle)</span>
    }

    <div class="content-area">
        <span class="jp-title-1 full-length center"> @Html.Raw(@Model.JpTitle1)</span>
        <span class="jp-title-2  full-length center">[@Html.Raw(@Model.JpTitle2)]</span>
        <span class="size  full-length center">@Html.Raw(@Model.Size)ml</span>
        <p class="description  full-length center">@Html.Raw(@Model.Description)</p>
        <div class="additives full-length center">
            <ul class="columns @Html.Raw(Model.Columns.Count > 1 ? "multi" : "solo")">
                @foreach (var column in Model.Columns)
                {
                    <li class="column">
                        <ul class="phrases">
                            <li class="phrase-title">@column.Header</li>
                            @foreach (var phrase in column.Phrases)
                            {
                                <li class="phrase">@phrase.Text</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <span class="howtouse-hdr full-length center">How to Use</span>
        <div class="separator"></div>
        <p class="howtouse  full-length center">@Html.Raw(@Model.Howtouse)</p>
    </div>
</div>





