@model hairrecipe.data.Entities.Products.Product

<div id="@Model.Name" class="product-section">
    <img class="product-item" src="~/Content/images/sp/product/mint/@(Model.Name).png" alt="" />
    @if (!string.IsNullOrEmpty(Model.EnTitle))
{
    <span class="en-title  full-length center">@Html.Raw(Model.EnTitle)</span>
}
    
    <div class="float-area">   
                <span class="jp-title-1 full-length center"> @Html.Raw(@Model.JpTitle1)</span><br/>
                <span class="jp-title-2  full-length center">[@Html.Raw(@Model.JpTitle2)]</span>
                <p class="description  full-length center">@Html.Raw(@Model.Description)</p>
                <span>How to Use</span>
    </div>
</div>


