@model hairrecipe.data.Entities.Products.ComboSet

<div class="comboSection @Model.BackgroundClass">
    <div class="center-section">
        <p class="title">@Html.Raw(Model.Title)</p>
        <p class="description">@Html.Raw(Model.Description)</p>
        <img src="@Model.Image.Replace("[sw]", "pc")" />
        @if (Model.ProductSets != null && Model.ProductSets.Count > 0)
        {
            <ul>
                @foreach (var ProductSet in Model.ProductSets)
                {
                    <li>
                        <div class="details">
                            <p>@Html.Raw(ProductSet.JpTitle1)</p>
                            <p>[@Html.Raw(ProductSet.JpTitle2)]</p>
                        </div>
                        <div class="bin">
                            <a class="generic-btn shop to-shop-btn gaca-btn" gaca="@ProductSet.GACA" sku="@ProductSet.SKU" binbtngaca="@ProductSet.BINStoreGaca">To Shop</a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>

</div>
