@model hairrecipe.data.Entities.Products.Product 
@using hairrecipe.data.Helpers;

<div id="@Model.Name" class="product-section @(Model.BackgroundClass)" >
    <img class="product-item" src="~/Content/images/sp/product/@(Model.Line)/@(Model.Name).png" alt="" />
    @if (!string.IsNullOrEmpty(Model.EnTitle))
    {
        <span class="en-title  full-length center">@Html.Raw(Model.EnTitle.LineBreak("[sp-br]"))</span>
    }

    <div class="content-area">
    @if (!string.IsNullOrEmpty(Model.JpTitle1)) { 
        <span class="jp-title-1 full-length center"> @Html.Raw(@Model.JpTitle1.LineBreak("[sp-br]"))</span>
    }
    @if (!string.IsNullOrEmpty(Model.JpTitle2)) {
        <span class="jp-title-2  full-length center">@Html.Raw(@Model.JpTitle2.LineBreak("[sp-br]"))</span>
    }
    @if (!string.IsNullOrEmpty(Model.Size) ) {
        <span class="size  full-length center">@Html.Raw(@Model.Size)</span>
    }
    @if (!string.IsNullOrEmpty(Model.JpTitle3))
    {
        <span class="jp-title-3  full-length center">@Html.Raw(@Model.JpTitle3.LineBreak("[sp-br]"))</span>
    }
    @if (!string.IsNullOrEmpty(Model.Description)) { 
        <p class="description  full-length center">@Html.Raw(@Model.Description.LineBreak("[sp-br]"))</p>
    }
    @if (Model.Columns.Count > 0) {
        <div class="additives ">
            <ul class="columns @Html.Raw(Model.Columns.Count > 1 ? "multi" : "solo")">
                @foreach (var column in Model.Columns)
                {
                    <li class="column">
                        <ul class="phrases">
                            <li class="phrase-title">@column.Header</li>
                            @foreach (var phrase in column.Phrases)
                            {
                                <li class="phrase">@Html.Raw(phrase.Text.LineBreak("[sp-br]"))</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    }
        @if (!string.IsNullOrEmpty(Model.Howtouse))
        {
            <span class="howtouse-hdr full-length center">How to Use</span>
            <div class="separator"></div>
            <p class="howtouse  full-length center">@Html.Raw(@Model.Howtouse.LineBreak("[sp-br]"))</p>
        }
        <ul class="actions rr-section" data-sku="@Model.SKU">
            @if (Model.HasBIN == true)
            {
                <li class="bin">
                    <a class="btn to-shop-btn gaca-btn" gaca="@Model.BINGACA" binbtngaca="@Model.BINStoreGaca" eventlabel="external" bineventlabel="external" binid="@Model.BINID" sku="@Model.SKU">TO SHOP</a>
                </li>
            }

            @if (Model.HasReview == true)
            {
                <li><a class="btn to-read-btn gaca-btn write-review" data-toggle="modal" data-target="#rnrw_modal" data-sku="@Model.SKU" data-pid="@Model.Name" data-line="@Model.Line.ToLower()" gaca="@Model.ReviewWriteGACA">レビューを書く</a></li>
                <li><a class="btn to-write-btn  gaca-btn read-review" data-toggle="modal" data-target="#rnrr_modal" data-sku="@Model.SKU" data-pid="@Model.Name" data-line="@Model.Line.ToLower()" gaca="@Model.ReviewReadGACA">レビューを読む</a></li>
                <li><div id="averagerating" class="bvOverallRating"></div></li>
            }
        </ul>

    </div>
</div>






