@model hairrecipe.data.Entities.Products.ComboSet

<div class="comboSection @Model.BackgroundClass">
    <div class="center-section">
        <p class="title">@Html.Raw(Model.Title)</p>
        <p class="description">@Html.Raw(Model.Description)</p>
        <img src="@Model.Image.Replace("[sw]", "pc")" />
        @if (Model.ProductSets != null && Model.ProductSets.Count > 0)
        {
            <ul>
                @for (int ctr = 0; ctr <= Model.ProductSets.ToArray().Length - 1; ctr++)
                {
                    <li>
                        <div class="details">
                            <p>@Html.Raw(Model.ProductSets.ElementAt(ctr).JpTitle1)</p>
                            <p>[@Html.Raw(Model.ProductSets.ElementAt(ctr).JpTitle2)]</p>
                        </div>
                        <div class="bin">
                            <a class="generic-btn shop to-shop-btn gaca-btn" gaca="@Model.ProductSets.ElementAt(ctr).GACA" bineventlabel="external" binid="@Model.ProductSets.ElementAt(ctr).BINID" binbtngaca="@Model.ProductSets.ElementAt(ctr).BINStoreGaca">To Shop</a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>

</div>
