<div class="col-md-6">
    <div class="special-info">
        <h1>Special Info.</h1>

        <div class="amazon">
            <img class="copy lazy" data-original="/Content/images/sp/sp_special-info-amazon.png" alt="Amazon.co.jpが販売・発送する商品無料配送！" />

            <div class="shop-btn bin">
                <a class="btn to-shop-btn gaca-btn" target="_blank" eventlabel="external" href="http://www.amazon.co.jp/b/?_encoding=UTF8&camp=247&creative=1211&linkCode=ur2&node=3257396051&tag=pgjp_angelica-22" gaca="@("sp_hairrepi_20161001_"+ Model +"_amazon")">
                    To Shop
                </a>
            </div>
        </div>

        <div class="lohaco">
            <img class="copy lazy" data-original="/Content/images/sp/sp_special-info-lohaco.png" alt="LOHACOでご購入の方 最短当日お届け！Tポイント貯まる、使える！" />
            
            <div class="shop-btn  bin">
                <a class="btn to-shop-btn gaca-btn" target="_blank" eventlabel="external" href="http://lohaco.jp/event/hairrecipe/?sc_e=zb_pmkr_aas_bpg_chrc_dps" gaca="@("sp_hairrepi_20161001_"+ Model +"_lohaco")">
                    To Shop
                </a>
            </div>
        </div>

        <div class="footer-logo">
            <img class="lazy" data-original="/Content/images/sp/sp_footer-logo.png" alt="HAIR RECIPE"/>
        </div>

        <div class="footer-links-container">
            <ul class="footer-links">
                <li><a class="gaca-btn" gaca="@("sp_hairrepi_20161001_"+ Model +"_footer_about")" href="/sp/about/index.html">サイトについて</a></li>
                <li><a class="gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_sitemap")" href="/sp/sitemap/index.html">サイトマップ</a></li>
                <li><a class="gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_Q&A")" href="/sp/faq/index.html">よくあるご質問</a></li>
            </ul>
            <ul class="footer-links">
                <li><a class="gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_privacy")" eventlabel="external" href="http://www.pg.com/privacy/japanese/privacy_notice.shtml" target="_blank">プライバシーポリシー</a></li>
                <li><a class="gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_customer")" href="/sp/contact/index.html">お問い合わせ</a></li>
                <li><a target="_blank" href="http://www.pg.com/ja_Clean/terms_conditions/index.shtml">利用規約</a></li>
            </ul>
            <ul class="footer-social">
                <li>
                    <a class="twitter-share" href="javascript:void(0)">
                        <img class="lazy gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_twitter")" eventlabel="external"  data-original="/Content/images/sp/sp_footer-social-tw.png" alt="twitter" />
                    </a>
                </li>
                <li>
                    <a class="facebook-share" href="javascript:void(0)">
                        <img class="lazy gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_facebook")" eventlabel="external"  data-original="/Content/images/sp/sp_footer-social-fb.png" alt="facebook" />
                    </a>
                </li>
                <li>
                    <a class="line-share" href="javascript:void(0)">
                        <img class="lazy gaca-btn" gaca="@("sp_hairrepi_20161001_" + Model + "_footer_line")" eventlabel="external" data-original="/Content/images/sp/sp_footer-social-line.png" alt="LINE" />
                    </a>
                </li>
            </ul>

        </div>
        <p class="copyright">© 2016 P&G. ALL RIGHTS RESERVED.</p>
    </div>
</div>