@model hairrecipe.data.Entities.Products.ProductLine
@using hairrecipe.data.Helpers;

@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = Model.GACAKeyword;
}

@section customStyles
{
    <link href="~/Content/sp-css/product-line.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/product/@(Model.GroupKeyword).html">
}


<div id="@Model.GroupKeyword" class="view">
    <h1><img class="group-banner" src="~/Content/images/sp/product/@Model.GroupKeyword/banner.jpg" alt="ブースター オイル トリートメント" /></h1>
    @if (!string.IsNullOrEmpty(Model.BannerText))
    {
        <h1 class="bannerTxt">@Model.BannerText</h1>
    }
    @foreach (var products in Model.Products)
    {
        @Html.Partial("_productListSp", products);
    }

    @if (Model.CustomContent != null)
    {
        foreach (var customContent in Model.CustomContent)
        {
            @Html.Raw(customContent.HtmlSection.ToString().Replace("[sw]", "sp").LineBreak("[pc-br]"));
        }
    }

    @if (Model.ComboSets != null)
    {
        foreach (var ComboSet in Model.ComboSets)
        {
            @Html.Partial("_ProductSetBlock.SP", ComboSet);
        }
    }

    @{
        string[,] contents = new string[,]
	{
        { Model.FooterBannerBackground, "", "", "" },
	    {"/diagnosis", "sp_diagnosis-thumbnail.png", "あなたの髪、うるおっている？ジューシー度チェック", "sp_hairrepi_20161001_"+Model.GACAKeyword+"_diagnosis"},
	    {"/reco_recipe", "sp_reco-recipe-thumbnail.png", "YOUR RECIPE なりたい髪を選んで", "sp_hairrepi_20161001_"+Model.GACAKeyword+"_your-recipe"},

	};
        Html.RenderPartial("_FootBannerSp", contents);
    }

</div>


@section scripts{




}
