@model hairrecipe.data.Entities.Products.ProductLine
@using hairrecipe.data.Helpers;

@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewData["GACAKeyword"] = Model.GACAKeyword;
}

@section customStyles
{
    <link href="~/Content/sp-css/product-line.css" rel="stylesheet" />
    <link rel="canonical" href="http://hairrecipe.jp/sp/product/@(Model.GroupKeyword)">
}


<div id="@Model.GroupKeyword" class="view">
    <h1><img class="group-banner" src="~/Content/images/sp/product/@Model.GroupKeyword/banner.jpg" alt="@Model.BannerAlt" /></h1>
    @if (!string.IsNullOrEmpty(Model.BannerText))
    {
        <h1 class="bannerTxt">@Model.BannerText</h1>
    }
    @for (int ctr = 0; ctr <= Model.Products.ToArray().Length - 1; ctr++) 
    {
        @Html.Partial("_productListSp", Model.Products.ElementAt(ctr));
    }

    @if (Model.CustomContent != null)
    {
        for (int ctr = 0; ctr <= Model.CustomContent.ToArray().Length - 1; ctr++) 
        {
            @Html.Raw(Model.CustomContent.ElementAt(ctr).HtmlSection.ToString().Replace("[sw]", "sp").LineBreak("[pc-br]"));
        }
    }

    @if (Model.ComboSets != null)
    {
        for (int ctr = 0; ctr <= Model.ComboSets.ToArray().Length - 1; ctr++)
        {
            @Html.Partial("_ProductSetBlock.SP", Model.ComboSets.ElementAt(ctr));
        }
    }

    @{
        string customDate;

        if (Model.GACAKeyword == "apple")
        {
            customDate = "20161022_product";
        }
        else
        {
            customDate = "20161001";
        }   
     }

    @{
        string[,] contents = new string[,]

	{
        { Model.FooterBannerBackground, "", "", "" },
	    {"/diagnosis", "sp_diagnosis-thumbnail.png", "あなたの髪、うるおっている？ジューシー度チェック", "sp_hairrepi_"+@customDate+"_"+Model.GACAKeyword+"_diagnosis"},
	    {"/reco_recipe", "sp_reco-recipe-thumbnail.png", "YOUR RECIPE なりたい髪を選んで", "sp_hairrepi_"+@customDate+"_"+Model.GACAKeyword+"_your-recipe"},

	};
        Html.RenderPartial("_FootBannerSp", contents);
    }

</div>


@section scripts{




}
